<p id="notice"><%= notice %></p>

<p>
  <b>Program:</b>
  <%= @comment3.program_id %>
</p>

<p>
  <b>Body:</b>
  <%= @comment3.body %>
</p>


<%= link_to 'Edit', edit_comment3_path(@comment3) %> |
<%= link_to 'Back', comment3s_path %>
