<p id="notice"><%= notice %></p>

<p>
  <b>Program:</b>
  <%= @comment4.program_id %>
</p>

<p>
  <b>Body:</b>
  <%= @comment4.body %>
</p>


<%= link_to 'Edit', edit_comment4_path(@comment4) %> |
<%= link_to 'Back', comment4s_path %>
