<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name_of_Athlete %><br />
    <%= f.text_field :title %>
    </div>
    
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :cweekstart, :minDate => 0, :maxDate => "+8Y", :size => "8x1" %>
  </div>
  
  <hr />
  
  <div class="field">
    <%= f.label :Comments_for_the_week %><br />
    <%= f.text_area :cweekcomments, :size => "50x5"  %>
  </div>
  
  
  <hr />
  
    
  <div class="field">
    <%= f.label :Day_1_Set_Training %><br />
    <%= f.text_area :cday1, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :Training_zone_for_session %><br />
    <%= f.text_area :cday1zone, :size => "5x1" %>
  </div>
  <br />
  <br />
  <br />
  
  
  <div class="field">
    <%= f.label :Day_2_Set_Training %><br />
    <%= f.text_area :cday2, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :Training_zone_for_session %><br />
    <%= f.text_area :cday2zone, :size => "5x1" %>
  </div>
  <br />
  <br />
  <br />
  
  
  
  <div class="field">
    <%= f.label :Day_3_Set_Training  %><br />
    <%= f.text_area :cday3, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :Training_zone_for_session %><br />
    <%= f.text_area :cday3zone, :size => "5x1" %>
  </div>
  <br />
  <br />
  <br />
  
  
  
  <div class="field">
    <%= f.label :Day_4_Set_Training  %><br />
    <%= f.text_area :cday4, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :Training_zone_for_session %><br />
    <%= f.text_area :cday4zone, :size => "5x1" %>
  </div>
  <br />
  <br />
  <br />
  
  
  
  <div class="field">
    <%= f.label :Day_5_Set_Training  %><br />
    <%= f.text_area :cday5, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :Training_zone_for_session %><br />
    <%= f.text_area :cday5zone, :size => "5x1" %>
  </div>
  <br />
  <br />
  <br />
  
  
  
  <div class="field">
    <%= f.label :Day_6_Set_Training  %><br />
    <%= f.text_area :cday6, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :Training_zone_for_session %><br />
    <%= f.text_area :cday6zone, :size => "5x1" %>
  </div>
  <br />
  <br />
  <br />
  
  
  
  <div class="field">
    <%= f.label :Day_7_Set_Training %><br />
    <%= f.text_area :cday7, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :Training_zone_for_session %><br />
    <%= f.text_area :cday7zone, :size => "5x1" %>
  </div>
  <br />
  
  
  

  
  
  <%= f.hidden_field :coach_id, :value => current_coach.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
