<h2>Listing programs</h2>

<table>
	
<% @programs.each do |program| %>
  <tr>
    <td><h3><b><%= program.title %> | <%= program.cweekstart %></b></h3></td>
  </tr>
  <tr>
    <td><%= program.cweekcomments %></td>
  </tr>
  <tr>
    <td>| <%= link_to 'Show', program %> | <%= link_to 'Edit', edit_program_path(program) %> |
  </tr>
  
<% end %>
</table>

<br />

<%= link_to 'New Program', new_program_path %>
