<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b><br />
  <%= @program.title %>
</p>

<p>
  <b>Body:</b><br />
  <%= @program.cweekcomments %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>

<br /><br /><br />
<i>Comments</i>
<div id="comments">
	<%= render :partial => @program.comments %>
</div>

<% form_for [@program, Comment.new] do |f| %>
	<p>
		<% f.text_area :body %>
		<br />
		<%= f.submit "add Comment"%>
	</p>
<% end %>
