<style type="text/css">
	.dhtmlgoodies_contentBox{
		border:2px solid #317082;
		height:50px;
		visibility:hidden;
		###position:absolute;
		overflow:hidden;
		padding:2px;
		width:600px;		
	}
	.dhtmlgoodies_content{
		position:relative;		
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		width:100%;
		font-size:0.8em;	
	}
	</style>
	<script type="text/javascript">
	var slideDownInitHeight = new Array();
	var slidedown_direction = new Array();
	var slidedownActive = false;
	var contentHeight = false;
	var slidedownSpeed = 3; 	// Higher value = faster script
	var slidedownTimer = 7;	// Lower value = faster script
	function slidedown_showHide(boxId)
	{
		if(!slidedown_direction[boxId])slidedown_direction[boxId] = 1;
		if(!slideDownInitHeight[boxId])slideDownInitHeight[boxId] = 0;
		
		if(slideDownInitHeight[boxId]==0)slidedown_direction[boxId]=slidedownSpeed; else slidedown_direction[boxId] = slidedownSpeed*-1;
		
		slidedownContentBox = document.getElementById(boxId);
		var subDivs = slidedownContentBox.getElementsByTagName('DIV');
		for(var no=0;no<subDivs.length;no++){
			if(subDivs[no].className=='dhtmlgoodies_content')slidedownContent = subDivs[no];	
		}
		contentHeight = slidedownContent.offsetHeight;
		slidedownContentBox.style.visibility='visible';
		slidedownActive = true;
		slidedown_showHide_start(slidedownContentBox,slidedownContent);
	}
	function slidedown_showHide_start(slidedownContentBox,slidedownContent)
	{
		if(!slidedownActive)return;
		slideDownInitHeight[slidedownContentBox.id] = slideDownInitHeight[slidedownContentBox.id]/1 + slidedown_direction[slidedownContentBox.id];
		if(slideDownInitHeight[slidedownContentBox.id] <= 0){
			slidedownActive = false;	
			slidedownContentBox.style.visibility='hidden';
			slideDownInitHeight[slidedownContentBox.id] = 0;
		}
		if(slideDownInitHeight[slidedownContentBox.id]>contentHeight){
			slidedownActive = false;	
		}
		slidedownContentBox.style.height = slideDownInitHeight[slidedownContentBox.id] + 'px';
		slidedownContent.style.top = slideDownInitHeight[slidedownContentBox.id] - contentHeight + 'px';

		setTimeout('slidedown_showHide_start(document.getElementById("' + slidedownContentBox.id + '"),document.getElementById("' + slidedownContent.id + '"))',slidedownTimer);	// Choose a lower value than 10 to make the script move faster
	}
	function setSlideDownSpeed(newSpeed)
	{
		slidedownSpeed = newSpeed;
	}
	</script>
<%= link_to '<< Back', programs_path %> | <a href="mailto:someone@somedomain.com?subject=Your%20Training%20Program%20for%20this%20week&body=<%= request.original_url %>"><img src="http://fbn-i.org/fbn/web.nsf/tiny_email_icon.gif" /> eMail this program to your Athlete </a>
<br /><br />
<h2><%= @program.title %> | <%= @program.cweekstart %></h2>

<hr />
<p>
  <b><i><%= @program.cweekcomments %></i></b>
</p>
<hr />
<br />
<br />













<!-- ##### Coach Program Section 1 - START ##### -->
<%= @program.cday1 %>
<br>
<%= @program.cday1zone %>
<!-- ##### Coach Program Section 1 - END ##### -->
<!-- ##### Athlete Comment Section 1 - START ##### -->
<% if @program.comment %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box1');return false;"><img src="http://www.casio.edu.shriro.com.au/app/graphics/edit_icon_small_dark_tip.png" width="12px" height="12xp" />Veiw/Edit Athlete Data for Monday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box1">
		<div class="dhtmlgoodies_content" id="subBox1">
			
			
    <div style="font-weight: bold;">Feedback From Session:</div><br />
    <%= @program.comment.body %>
    <br /><br />
    <div style="font-weight: bold;">Resting Heart Rate:</div><br />
    <%= @program.comment.resthr %>
    <br /><br />
    <div style="font-weight: bold;">Training Zone Used:</div><br />
    <%= @program.comment.tzone %>
    <br /><br />
    <div style="font-weight: bold;">Feel Good Factor:</div><br />
    <%= @program.comment.fgf %>
    <br /><br />
    <div style="font-weight: bold;">Other Comments:</div><br />
    <%= @program.comment.other %>
    <br /><br /><br /><br />
  
    <%= link_to 'Edit Feedback', edit_program_comment_path(@program.comment) %>
    </p> 
    <br />
    
    </div></div></dvi> 
<% else %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box1');return false;"><img src="http://www.iconsdb.com/icons/preview/gray/plus-4-m.png" width="12px" height="12xp" />Submit Athlete Data for Monday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box1">
		<div class="dhtmlgoodies_content" id="subBox1">
			
			
  	<%= form_for([@program, @program.build_comment]) do |f| %>
    <div class="field">
    <%= f.label :Feedback_of_session %><br />
    <%= f.text_area :body, :size => "71x5" %><br />
    <br />
    
    
    <%= f.label :Resting_Heart_Rate %><br />
    <%= f.text_area :resthr, :size => "5x1" %><br />
    <br />
    
    
    <%= f.label :Training_Zone_used %><br />
    <%= f.select :tzone, [['Z1','Z1'],['Z2','Z2'],['Z3','Z3'],['Z4','Z4'],['Z5','Z5'],['Z6','Z6'],['Z7','Z7']] %>
   <br />
    <br />
    
    
    <%= f.label :Feel_Good_Factor %><br />
    <%= f.select :fgf, [['Really Good','Really Good'],['Good','Good'],['Alright','Alright'],['Not Brilliant','Not Brilliant'],['Bad','Bad'],['Worst Ever','Worst Ever']] %>
    <br />
    <br />
    
    
    <%= f.label :Any_Other_comments %><br />
    <%= f.text_area :other, :size => "71x5" %><br />
    
  	</div>
  	<div class="actions" align="left">
    <%= f.submit "Submit Day 1 Data"%>
    </div>
    <br />
    
    
    </div></div></div>
<% end %>
<% end %>

<br /><br /><br />
<!-- ##### Athlete Comment Section 1 - END ##### -->




















<!-- ##### Coach Program Section 2 - START ##### -->
<%= @program.cday2 %>
<br>
<%= @program.cday2zone %>
<!-- ##### Coach Program Section 2 - END ##### -->
<!-- ##### Athlete Comment Section 2 - START ##### -->
<% if @program.comment1 %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box2');return false;"><img src="http://www.casio.edu.shriro.com.au/app/graphics/edit_icon_small_dark_tip.png" width="12px" height="12xp" />Veiw/Edit Athlete Data for Tuesday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box2">
		<div class="dhtmlgoodies_content" id="subBox2">
			
			
    <div style="font-weight: bold;">Feedback From Session:</div><br />
    <%= @program.comment1.body %>
    <br /><br />
    <div style="font-weight: bold;">Resting Heart Rate:</div><br />
    <%= @program.comment1.resthr %>
    <br /><br />
    <div style="font-weight: bold;">Training Zone Used:</div><br />
    <%= @program.comment1.tzone %>
    <br /><br />
    <div style="font-weight: bold;">Feel Good Factor:</div><br />
    <%= @program.comment1.fgf %>
    <br /><br />
    <div style="font-weight: bold;">Other Comments:</div><br />
    <%= @program.comment1.other %>
    <br /><br /><br /><br />
  
    <%= link_to 'Edit Feedback', edit_program_comment1_path(@program.comment1) %>
    </p> 
    <br />
    </div></div></div>
<% else %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box2');return false;"><img src="http://www.iconsdb.com/icons/preview/gray/plus-4-m.png" width="12px" height="12xp" />Submit Athlete Data for Tuesday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box2">
		<div class="dhtmlgoodies_content" id="subBox2">
			
			
  	
  	<%= form_for([@program, @program.build_comment1]) do |f| %>
    <div class="field">
    <%= f.label :Feedback_of_session %><br />
    <%= f.text_area :body, :size => "71x5" %><br />
    <br />
    
    
    <%= f.label :Resting_Heart_Rate %><br />
    <%= f.text_area :resthr, :size => "5x1" %><br />
    <br />
    
    
    <%= f.label :Training_Zone_used %><br />
    <%= f.select :tzone, [['Z1','Z1'],['Z2','Z2'],['Z3','Z3'],['Z4','Z4'],['Z5','Z5'],['Z6','Z6'],['Z7','Z7']] %>
   <br />
    <br />
    
    
    <%= f.label :Feel_Good_Factor %><br />
    <%= f.select :fgf, [['Really Good','Really Good'],['Good','Good'],['Alright','Alright'],['Not Brilliant','Not Brilliant'],['Bad','Bad'],['Worst Ever','Worst Ever']] %>
    <br />
    <br />
    
    
    <%= f.label :Any_Other_comments %><br />
    <%= f.text_area :other, :size => "71x5" %><br />
    
  	</div>
  	<div class="actions" align="left">
    <%= f.submit "Submit Day 2 Data"%>
    </div>
    <br />
 	 </div></div></div>
<% end %>
<% end %>
<br /><br /><br />
<!-- ##### Athlete Comment Section 2 - END ##### -->























<!-- ##### Coach Program Section 3 - START ##### -->
<%= @program.cday3 %>
<br>
<%= @program.cday3zone %>
<!-- ##### Coach Program Section 3 - END ##### -->
<!-- ##### Athlete Comment Section 3 - START ##### -->
<% if @program.comment2 %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box3');return false;"><img src="http://www.casio.edu.shriro.com.au/app/graphics/edit_icon_small_dark_tip.png" width="12px" height="12xp" />Veiw/Edit Athlete Data for Wenesday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box3">
		<div class="dhtmlgoodies_content" id="subBox3">
			
			
    <div style="font-weight: bold;">Feedback From Session:</div><br />
    <%= @program.comment2.body %>
    <br /><br />
    <div style="font-weight: bold;">Resting Heart Rate:</div><br />
    <%= @program.comment2.resthr %>
    <br /><br />
    <div style="font-weight: bold;">Training Zone Used:</div><br />
    <%= @program.comment2.tzone %>
    <br /><br />
    <div style="font-weight: bold;">Feel Good Factor:</div><br />
    <%= @program.comment2.fgf %>
    <br /><br />
    <div style="font-weight: bold;">Other Comments:</div><br />
    <%= @program.comment2.other %>
    <br /><br /><br /><br />
  
    <%= link_to 'Edit Feedback', edit_program_comment2_path(@program.comment2) %>
    </p>  
    <br />
    </div></div></div>
<% else %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box3');return false;"><img src="http://www.iconsdb.com/icons/preview/gray/plus-4-m.png" width="12px" height="12xp" />Submit Athlete Data for Wenesday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box3">
		<div class="dhtmlgoodies_content" id="subBox3">
			
			
  	
  	<%= form_for([@program, @program.build_comment2]) do |f| %>
    <div class="field">
    <%= f.label :Feedback_of_session %><br />
    <%= f.text_area :body, :size => "71x5" %><br />
    <br />
    
    
    <%= f.label :Resting_Heart_Rate %><br />
    <%= f.text_area :resthr, :size => "5x1" %><br />
    <br />
    
    
    <%= f.label :Training_Zone_used %><br />
    <%= f.select :tzone, [['Z1','Z1'],['Z2','Z2'],['Z3','Z3'],['Z4','Z4'],['Z5','Z5'],['Z6','Z6'],['Z7','Z7']] %>
   <br />
    <br />
    
    
    <%= f.label :Feel_Good_Factor %><br />
    <%= f.select :fgf, [['Really Good','Really Good'],['Good','Good'],['Alright','Alright'],['Not Brilliant','Not Brilliant'],['Bad','Bad'],['Worst Ever','Worst Ever']] %>
    <br />
    <br />
    
    
    <%= f.label :Any_Other_comments %><br />
    <%= f.text_area :other, :size => "71x5" %><br />
    
  	</div>
  	<div class="actions" align="left">
    <%= f.submit "Submit Day 3 Data"%>
    </div>
    <br />
 	 </div></div></div>
<% end %>
<% end %>
<br /><br />
<!-- ##### Athlete Comment Section 3 - END ##### -->























<!-- ##### Coach Program Section 4 - START ##### -->
<%= @program.cday4 %>
<br>
<%= @program.cday4zone %>
<!-- ##### Coach Program Section 4 - END ##### -->
<!-- ##### Athlete Comment Section 4 - START ##### -->
<% if @program.comment3 %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box4');return false;"><img src="http://www.casio.edu.shriro.com.au/app/graphics/edit_icon_small_dark_tip.png" width="12px" height="12xp" />Veiw/Edit Athlete Data for Thursday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box4">
		<div class="dhtmlgoodies_content" id="subBox4">
			
			
    <div style="font-weight: bold;">Feedback From Session:</div><br />
    <%= @program.comment3.body %>
    <br /><br />
    <div style="font-weight: bold;">Resting Heart Rate:</div><br />
    <%= @program.comment3.resthr %>
    <br /><br />
    <div style="font-weight: bold;">Training Zone Used:</div><br />
    <%= @program.comment3.tzone %>
    <br /><br />
    <div style="font-weight: bold;">Feel Good Factor:</div><br />
    <%= @program.comment3.fgf %>
    <br /><br />
    <div style="font-weight: bold;">Other Comments:</div><br />
    <%= @program.comment3.other %>
    <br /><br /><br /><br />
  
    <%= link_to 'Edit Feedback', edit_program_comment3_path(@program.comment3) %>
    </p>  
    </div></div></div>
<% else %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box4');return false;"><img src="http://www.iconsdb.com/icons/preview/gray/plus-4-m.png" width="12px" height="12xp" />Submit Athlete Data for Thursday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box4">
		<div class="dhtmlgoodies_content" id="subBox4">
			
			
  	
  	<%= form_for([@program, @program.build_comment3]) do |f| %>
    <div class="field">
    <%= f.label :Feedback_of_session %><br />
    <%= f.text_area :body, :size => "71x5" %><br />
    <br />
    
    
    <%= f.label :Resting_Heart_Rate %><br />
    <%= f.text_area :resthr, :size => "5x1" %><br />
    <br />
    
    
    <%= f.label :Training_Zone_used %><br />
    <%= f.select :tzone, [['Z1','Z1'],['Z2','Z2'],['Z3','Z3'],['Z4','Z4'],['Z5','Z5'],['Z6','Z6'],['Z7','Z7']] %>
   <br />
    <br />
    
    
    <%= f.label :Feel_Good_Factor %><br />
    <%= f.select :fgf, [['Really Good','Really Good'],['Good','Good'],['Alright','Alright'],['Not Brilliant','Not Brilliant'],['Bad','Bad'],['Worst Ever','Worst Ever']] %>
    <br />
    <br />
    
    
    <%= f.label :Any_Other_comments %><br />
    <%= f.text_area :other, :size => "71x5" %><br />
    
  	</div>
  	<div class="actions" align="left">
    <%= f.submit "Submit Day 4 Data"%>
    </div>
    <br />
 	 </div></div></div>
<% end %>
<% end %>
<br /><br />
<!-- ##### Athlete Comment Section 4 - END ##### -->

























<!-- ##### Coach Program Section 5 - START ##### -->
<%= @program.cday5 %>
<br>
<%= @program.cday5zone %>
<!-- ##### Coach Program Section 5 - END ##### -->
<!-- ##### Athlete Comment Section 5 - START ##### -->
<% if @program.comment4 %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box5');return false;"><img src="http://www.casio.edu.shriro.com.au/app/graphics/edit_icon_small_dark_tip.png" width="12px" height="12xp" />Veiw/Edit Athlete Data for Friday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box5">
		<div class="dhtmlgoodies_content" id="subBox5">
			
			
    <div style="font-weight: bold;">Feedback From Session:</div><br />
    <%= @program.comment4.body %>
    <br /><br />
    <div style="font-weight: bold;">Resting Heart Rate:</div><br />
    <%= @program.comment4.resthr %>
    <br /><br />
    <div style="font-weight: bold;">Training Zone Used:</div><br />
    <%= @program.comment4.tzone %>
    <br /><br />
    <div style="font-weight: bold;">Feel Good Factor:</div><br />
    <%= @program.comment4.fgf %>
    <br /><br />
    <div style="font-weight: bold;">Other Comments:</div><br />
    <%= @program.comment4.other %>
    <br /><br /><br /><br />
  
    <%= link_to 'Edit Feedback', edit_program_comment4_path(@program.comment4) %>
    </p>  
    <br />
    </div></div></div>
<% else %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box5');return false;"><img src="http://www.iconsdb.com/icons/preview/gray/plus-4-m.png" width="12px" height="12xp" />Submit Athlete Data for Friday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box5">
		<div class="dhtmlgoodies_content" id="subBox5">
			
			
  	
  	<%= form_for([@program, @program.build_comment4]) do |f| %>
    <div class="field">
    <%= f.label :Feedback_of_session %><br />
    <%= f.text_area :body, :size => "71x5" %><br />
    <br />
    
    
    <%= f.label :Resting_Heart_Rate %><br />
    <%= f.text_area :resthr, :size => "5x1" %><br />
    <br />
    
    
    <%= f.label :Training_Zone_used %><br />
    <%= f.select :tzone, [['Z1','Z1'],['Z2','Z2'],['Z3','Z3'],['Z4','Z4'],['Z5','Z5'],['Z6','Z6'],['Z7','Z7']] %>
   <br />
    <br />
    
    
    <%= f.label :Feel_Good_Factor %><br />
    <%= f.select :fgf, [['Really Good','Really Good'],['Good','Good'],['Alright','Alright'],['Not Brilliant','Not Brilliant'],['Bad','Bad'],['Worst Ever','Worst Ever']] %>
    <br />
    <br />
    
    
    <%= f.label :Any_Other_comments %><br />
    <%= f.text_area :other, :size => "71x5" %><br />
    
  	</div>
  	<div class="actions" align="left">
    <%= f.submit "Submit Day 5 Data"%>
    </div>
    <br />
 	 </div></div></div>
<% end %>
<% end %>
<br /><br /><br />
<!-- ##### Athlete Comment Section 5 - END ##### -->

























<!-- ##### Coach Program Section 6 - START ##### -->
<%= @program.cday6 %>
<br>
<%= @program.cday6zone %>
<!-- ##### Coach Program Section 6 - END ##### -->
<!-- ##### Athlete Comment Section 6 - START ##### -->
<% if @program.comment5 %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box6');return false;"><img src="http://www.casio.edu.shriro.com.au/app/graphics/edit_icon_small_dark_tip.png" width="12px" height="12xp" />Veiw/Edit Athlete Data for Saturday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box6">
		<div class="dhtmlgoodies_content" id="subBox6">
			
			
    <div style="font-weight: bold;">Feedback From Session:</div><br />
    <%= @program.comment5.body %>
    <br /><br />
    <div style="font-weight: bold;">Resting Heart Rate:</div><br />
    <%= @program.comment5.resthr %>
    <br /><br />
    <div style="font-weight: bold;">Training Zone Used:</div><br />
    <%= @program.comment5.tzone %>
    <br /><br />
    <div style="font-weight: bold;">Feel Good Factor:</div><br />
    <%= @program.comment5.fgf %>
    <br /><br />
    <div style="font-weight: bold;">Other Comments:</div><br />
    <%= @program.comment5.other %>
    <br /><br /><br /><br />
  
    <%= link_to 'Edit Feedback', edit_program_comment5_path(@program.comment5) %>
    </p>  
    <br />
    </div></div></div>
<% else %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box6');return false;"><img src="http://www.iconsdb.com/icons/preview/gray/plus-4-m.png" width="12px" height="12xp" />Submit Athlete Data for Saturday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box6">
		<div class="dhtmlgoodies_content" id="subBox6">
			
			
  	
  	<%= form_for([@program, @program.build_comment5]) do |f| %>
    <div class="field">
    <%= f.label :Feedback_of_session %><br />
    <%= f.text_area :body, :size => "71x5" %><br />
    <br />
    
    
    <%= f.label :Resting_Heart_Rate %><br />
    <%= f.text_area :resthr, :size => "5x1" %><br />
    <br />
    
    
    <%= f.label :Training_Zone_used %><br />
    <%= f.select :tzone, [['Z1','Z1'],['Z2','Z2'],['Z3','Z3'],['Z4','Z4'],['Z5','Z5'],['Z6','Z6'],['Z7','Z7']] %>
   <br />
    <br />
    
    
    <%= f.label :Feel_Good_Factor %><br />
    <%= f.select :fgf, [['Really Good','Really Good'],['Good','Good'],['Alright','Alright'],['Not Brilliant','Not Brilliant'],['Bad','Bad'],['Worst Ever','Worst Ever']] %>
    <br />
    <br />
    
    
    <%= f.label :Any_Other_comments %><br />
    <%= f.text_area :other, :size => "71x5" %><br />
    
  	</div>
  	<div class="actions" align="left">
    <%= f.submit "Submit Day 6 Data"%>
    </div>
    <br />
 	 </div></div></div>
<% end %>
<% end %>
<br /><br /><br />
<!-- ##### Athlete Comment Section 6 - END ##### -->





























<!-- ##### Coach Program Section 7 - START ##### -->
<%= @program.cday7 %>
<br>
<%= @program.cday7zone %>
<!-- ##### Coach Program Section 7 - END ##### -->
<!-- ##### Athlete Comment Section 7 - START ##### -->
<% if @program.comment6 %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box7');return false;"><img src="http://www.casio.edu.shriro.com.au/app/graphics/edit_icon_small_dark_tip.png" width="12px" height="12xp" />Veiw/Edit Athlete Data for Sunday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box7">
		<div class="dhtmlgoodies_content" id="subBox7">
			
			
    <div style="font-weight: bold;">Feedback From Session:</div><br />
    <%= @program.comment6.body %>
    <br /><br />
    <div style="font-weight: bold;">Resting Heart Rate:</div><br />
    <%= @program.comment6.resthr %>
    <br /><br />
    <div style="font-weight: bold;">Training Zone Used:</div><br />
    <%= @program.comment6.tzone %>
    <br /><br />
    <div style="font-weight: bold;">Feel Good Factor:</div><br />
    <%= @program.comment6.fgf %>
    <br /><br />
    <div style="font-weight: bold;">Other Comments:</div><br />
    <%= @program.comment6.other %>
    <br /><br /><br /><br />
  
    <%= link_to 'Edit Feedback', edit_program_comment6_path(@program.comment6) %>
    </p>  
    <br />
    </div></div></div>
<% else %>
<div>
	<div id="dhtmlgoodies_control"><a href="#" onclick="slidedown_showHide('box7');return false;"><img src="http://www.iconsdb.com/icons/preview/gray/plus-4-m.png" width="12px" height="12xp" />Submit Athlete Data for Sunday</a></div>
	<div class="dhtmlgoodies_contentBox" id="box7">
		<div class="dhtmlgoodies_content" id="subBox7">
			
			
  	
  	<%= form_for([@program, @program.build_comment6]) do |f| %>
    <div class="field">
    <%= f.label :Feedback_of_session %><br />
    <%= f.text_area :body, :size => "71x5" %><br />
    <br />
    
    
    <%= f.label :Resting_Heart_Rate %><br />
    <%= f.text_area :resthr, :size => "5x1" %><br />
    <br />
    
    
    <%= f.label :Training_Zone_used %><br />
    <%= f.select :tzone, [['Z1','Z1'],['Z2','Z2'],['Z3','Z3'],['Z4','Z4'],['Z5','Z5'],['Z6','Z6'],['Z7','Z7']] %>
   <br />
    <br />
    
    
    <%= f.label :Feel_Good_Factor %><br />
    <%= f.select :fgf, [['Really Good','Really Good'],['Good','Good'],['Alright','Alright'],['Not Brilliant','Not Brilliant'],['Bad','Bad'],['Worst Ever','Worst Ever']] %>
    <br />
    <br />
    
    
    <%= f.label :Any_Other_comments %><br />
    <%= f.text_area :other, :size => "71x5" %><br />
    
  	</div>
  	<div class="actions" align="left">
    <%= f.submit "Submit Day 7 Data"%>
    </div>
    <br />
 	 </div></div></div>
<% end %>
<% end %>
<br /><br /><br />
<!-- ##### Athlete Comment Section 7 - END ##### -->















<script type="text/javascript">
setSlideDownSpeed(5);
</script>
<%= link_to '<< Back', programs_path %> | <A HREF="javascript:window.print()">Click to Print This Page (to print properly make sure all data tabs are open)</A>



