<h1>Listing comment6s</h1>

<table>
  <tr>
    <th>Program</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comment6s.each do |comment6| %>
  <tr>
    <td><%= comment6.program_id %></td>
    <td><%= comment6.body %></td>
    <td><%= link_to 'Show', comment6 %></td>
    <td><%= link_to 'Edit', edit_comment6_path(comment6) %></td>
    <td><%= link_to 'Destroy', comment6, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment6', new_comment6_path %>
