<p id="notice"><%= notice %></p>

<p>
  <b>Program:</b>
  <%= @comment6.program_id %>
</p>

<p>
  <b>Body:</b>
  <%= @comment6.body %>
</p>


<%= link_to 'Edit', edit_comment6_path(@comment6) %> |
<%= link_to 'Back', comment6s_path %>
