<!DOCTYPE html>
<html>
<head>
  <title>Coacheasy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700" rel="stylesheet" />
  <script src="js/jquery.min.js"></script>
  <script src="js/config.js"></script>
  <script src="js/skel.min.js"></script>
  <script src="js/skel-panels.min.js"></script>
  <noscript>
		<link rel="stylesheet" href="css/skel-noscript.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-desktop.css" />
  </noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
	
</head>
<body>
	<div class="navbarpro" style="font-family: Arial; font-size: 11pt; padding-top: 2px; padding-bottom: 5px;">
		<center>
		<% if coach_signed_in? %> 
		<a href="<%= dashboard_index_path %>">My Dashboard</a> 
		<% else %> 
		<a href="<%= root_path %>">Home</a>
		<% end %>
		| 
		<a href="<%= home_about_path %>">About us</a>
		| 
		<a href="<%= home_faq_path %>">FAQ</a>
		| 
		<a href="<%= home_contact_path %>">Contact</a>
		</center>
	</div>
	<br />
	<table width="100%">
		<td>
			<div style="font-size: 40px; padding-left: 50px; font-family: Impact; color: #317082;" align="left"><b><a href="<%= root_path %>">COACH<color = "skyblue">EASY</color></a></b></div>
		</td>
		
		
		
		<td>
			<div align="right" style="padding-right: 50px">
		
		<% if coach_signed_in? %>
			<%= image_tag current_coach.avatar.url(:thumb) %> Hello, <%= current_coach.firstname%> | <%= link_to 'My Dashboard', dashboard_index_path %> | <%= link_to "Sign out", destroy_coach_session_path, :method => :delete %>
		<% else %>
			<b><%= link_to "Sign up", new_coach_registration_path %></b> or <b><%= link_to "Sign in", new_coach_session_path %></b>
		<% end %>
	</div>
		</td>
	</table>
	
	
	
	<br>
								<!-- Content -->
						<div style="background-color: #A9F5BC; width: 100%; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><center><%= notice %></center></div>
				
									<article class="is-page-content">

										<section>
											<p>
												
												<%= yield %>
												
												
												
											</p>
										</section>
										
										

										

									</article>

								<!-- /Content -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- /Main -->

		<!-- Footer -->
			<footer id="footer" class="container">
				<div class="row">
					<div class="12u">

						<!-- About -->
							<section>
								<h2 class="major"><span>What's this about?</span></h2>
								<p>
									Coacheasy allows Coaches to communicate with their Athletes. With this application the coach has control and can set weekly programs of whom their Athletes can add feedback and statistics of their set program (including avg heart rate, diet, feel good factor). Currently This website is still in BETA so we would love for you to give feedback on how this could be improved!
								</p>
							</section>
						<!-- /About -->

					</div>
				</div>
				<div class="row">
					<div class="12u">

						<!-- Contact -->
							<section>
								<h2 class="major"><span>Get in touch</span></h2>
								<ul class="contact">
									<li><a href="#facebook" class="facebook">Facebook</a></li>
									<li><a href="#twitter" class="twitter">Twitter</a></li>
									<li><a href="#Linkedin" class="linkedin">LinkedIn</a></li>
									<li><a href="#googleplus" class="googleplus">Google+</a></li>
								</ul>
							</section>
						<!-- /Contact -->
					
					</div>
				</div>
				
				
					
					<!-- Copyright -->
						<div id="copyright" align="center">
							&copy; 2013 Coacheasy, All rights reservered 
						</div>
					<!-- /Copyright -->
					
				</div>
				
				
			</footer>
		<!-- /Footer -->

	
	





</body>
</html>
